.container-full-width-height{
    height: 100%;
    width: 100%;
    background-color: black;
}

.header{
    width: 100%;
    height: 10%;
    background-color: grey;
    border: 1px solid gray;
}

.body{
    background-image: url("./../../../assets/dashboard-bg.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 100%;
    height: 90%;
}

.logo{
    background-image: url("./../../../assets/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 10%;
    height: 100%;
    display: inline-block;
}

.header-space{
    width: 80%;
    height: 100%;
    display: inline-block;
}

.account-option{
    width: 10%;
    height: 100%;
    padding-left: 10px;
    padding-top: 20px;
    display: inline-block;
}

a.logout{
    display: table-cell;
    cursor: pointer;
    color: powderblue;
    background: #5149DB;
    padding: 10px;
    border-radius: 5px;
}