<app-navigation-bar></app-navigation-bar>
<div class="overlay">
   
   
   
    <div class="mt-5" *ngFor="let movieCategory of getObjectKeys(movieList)">
        <h3 class="ml-5 text-danger">{{movieCategory}} Movies</h3>
        <div class="row p-5">
            <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12" *ngFor="let movie of movieList[movieCategory]">
                <div class="movie-card" (click)="redirectToMovieList(movie)">
                    <img [src]="movie.posterUrl" alt="" width="100%" height="100%">
                </div>
                <div class="mt-2 mb-2 text-light text-center">{{ movie.title }}</div>
            </div>
        </div>
    </div>
</div>