<app-navigation-bar></app-navigation-bar>

<div class="mt-5 pt-5">
    <div class="row mt-5">
        <div class="col-12 pl-5 pr-5 mt-5">
            <div class="card">
                <div class="card-header">
                    Trending Movies
                </div>
                <div class="card-body ">
                    <div class="row">
                        <div class="col-3">
                            <div class="card movie-card">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS6Vz6lHW63JGGPr69O2gJhMQYQmikVJbj8MTjS09ugbJLrVtdG" width=350 height=350>
                                <div class="card-body-dark ">
                                  <div class="card-text mt-2 mb-2">Dummy Movie Title</div>
                                </div>
                              </div>
                        </div>
                        <div class="col-3">
                            <div class="card movie-card">
                                <img src="https://townsquare.media/site/442/files/2018/07/green-lantern-elba.jpg?w=980&q=75" width=350 height=350>
                                <div class="card-body-dark ">
                                  <div class="card-text mt-2 mb-2">Dummy Movie Title</div>
                                </div>
                              </div>
                        </div>
                        <div class="col-3">
                            <div class="card movie-card">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTz7mXwFDxsaLm6rj2-m6PUBjaRRNpDrLt2XuoG_WKPJ2iUpDWH" width=350 height=350>
                                <div class="card-body-dark ">
                                  <div class="card-text mt-2 mb-2">Dummy Movie Title</div>
                                </div>
                              </div>
                        </div>
                        <div class="col-3">
                            <div class="card movie-card">
                                <img src="https://s.hdnux.com/photos/53/37/62/11402390/9/300x300.jpg" width=350 height=350>
                                <div class="card-body-dark ">
                                  <div class="card-text mt-2 mb-2">Dummy Movie Title</div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col-12 pl-5 pr-5 mt-5">
            <div class="card">
                <div class="card-header">
                    Action Movies
                </div>
                <div class="card-body ">
                    <div class="row">
                        <div class="col-3">
                            <div class="card movie-card">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTVe98NSMAeQn-jWObYtkXqLEDPhMZGEgIMlukKCPWRGa9Oaltw" width=350 height=350>
                                <div class="card-body-dark ">
                                  <div class="card-text mt-2 mb-2">Dummy Movie Title</div>
                                </div>
                              </div>
                        </div>
                        <div class="col-3">
                            <div class="card movie-card">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/711dbTn6RXL._AC_SL1080_.jpg" width=350 height=350>
                                <div class="card-body-dark ">
                                  <div class="card-text mt-2 mb-2">Dummy Movie Title</div>
                                </div>
                              </div>
                        </div>
                        <div class="col-3">
                            <div class="card movie-card">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/711dbTn6RXL._AC_SL1080_.jpg" width=350 height=350>
                                <div class="card-body-dark ">
                                  <div class="card-text mt-2 mb-2">Dummy Movie Title</div>
                                </div>
                              </div>
                        </div>
                        <div class="col-3">
                            <div class="card movie-card">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/711dbTn6RXL._AC_SL1080_.jpg" width=350 height=350>
                                <div class="card-body-dark ">
                                  <div class="card-text mt-2 mb-2">Dummy Movie Title</div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="row mt-5 mb-5">
        <div class="col-12 pl-5 pr-5 mt-5">
            <div class="card">
                <div class="card-header">
                    Romantic Movies
                </div>
                <div class="card-body ">
                    <div class="row">
                        <div class="col-3">
                            <div class="card movie-card">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/711dbTn6RXL._AC_SL1080_.jpg" width=350 height=350>
                                <div class="card-body-dark ">
                                  <div class="card-text mt-2 mb-2">Dummy Movie Title</div>
                                </div>
                              </div>
                        </div>
                        <div class="col-3">
                            <div class="card movie-card">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/711dbTn6RXL._AC_SL1080_.jpg" width=350 height=350>
                                <div class="card-body-dark ">
                                  <div class="card-text mt-2 mb-2">Dummy Movie Title</div>
                                </div>
                              </div>
                        </div>
                        <div class="col-3">
                            <div class="card movie-card">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/711dbTn6RXL._AC_SL1080_.jpg" width=350 height=350>
                                <div class="card-body-dark ">
                                  <div class="card-text mt-2 mb-2">Dummy Movie Title</div>
                                </div>
                              </div>
                        </div>
                        <div class="col-3">
                            <div class="card movie-card">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/711dbTn6RXL._AC_SL1080_.jpg" width=350 height=350>
                                <div class="card-body-dark ">
                                  <div class="card-text mt-2 mb-2">Dummy Movie Title</div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
