<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="http://pixel-salad.com/website/posters/img/poster1.jpg" class="img-thumbnail" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>


<div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="container-movie">
            <div class="movie">
                <div class="movie-inside front">
                    <p>Dark Night Rises</p>
                    <img src="http://pixel-salad.com/website/posters/img/poster1.jpg" class="img-thumbnail">
                </div>
            </div>
        </div>
      </div> 
    </div>
  
    <div id="genre" class="row">
        <div class="col-sm-1">
            <h4 for="genre">Genre:</h4>
        </div>
        <div class="col-sm-11 genreList">
          <div class="col-sm-3">
              Movie name
          </div>
        </div> 

    </div>


  </div>